#header-nav{
background-color:#808080;
border-radius: 0;
border: 0;
border-bottom: 3px solid black;
border-top: 3px solid black;
}



.title{
text-align:center;
border:10px;
}


.text{
background-color:#808080;
padding:10px;
}

.container{}

li{
background-color:white;
padding:10px;
color:black;
border: 1px solid black;
text-align: center;}


